@font-face {
    font-family: Futura;
    src: url("/fonts/futura sv/Futura Thin.ttf") format("truetype");
}

@keyframes TransitioningBackground {
    0% {
      background-position: 1% 0%;
    }
    50% {
      background-position: 99% 100%;
    }
    100% {
      background-position: 1% 0%;
    }
}

@mixin textanimation {
    // ANIMATIONSTART
    position: relative;
    overflow: hidden;
    background-size: 200% 400%;
     animation: TransitioningBackground 10s ease infinite;
      &::before {
       content: '';
       display: block;
       position: absolute;
       background: rgba(255, 255, 255, 0.5);
       top: 0;
       filter: blur(30px);
       transform: translateX(-100px) skewX(-15deg);
     }
      &::after {
        content: '';

        display: block;
        position: absolute;
        background: rgba(255, 255, 255, 0.2);
        width: 20px;
        height: 100%;
        top: 0;
        filter: blur(5px);
        transform: translateX(-110px) skewX(-15deg);
      }

      &:hover {
        cursor: pointer;
        opacity: 100%;
        &::before,
        &::after {
          transform: translateX(600px) skewX(-15deg);
          transition: 0.7s;
        }
    }
// ENDANIMATION
}

$black: #000;
$white: #fff;
$bordersize: 1px solid #FFFFFF;
$main-fonts: Futura;


*{ 
    background-color: black;
    color: white;
    font-size: 5vh;
    font-family: $main-fonts;
    text-decoration:none;
}

.wrapper{
    display:grid;
    opacity: 100%;
    width: auto;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
    position: relative;
    z-index: 10;
    text-align:center;
    
}

text {
    display: block;
    mix-blend-mode: overlay;
}

.site1 {
    width: 550px;
    display:inline-block;
    text-align: center;
    padding:0.3em 1em;
    border: $bordersize;
    margin:0.3em 0.3em;
    border-radius:0.12em;
    box-sizing: border-box;
    @include textanimation;
}
.site2 {
    width: 550px;
    display:inline-block;
    text-align: center;
    padding:0.3em 1em;
    border: $bordersize;
    margin:0.3em 0.3em;
    border-radius:0.12em;
    box-sizing: border-box;
    @include textanimation;
}
.site3 {
    width: 550px;
    display:inline-block;
    text-align: center;
    padding:0.3em 1em;
    border: $bordersize;
    margin:0.3em 0.3em;
    border-radius:0.12em;
    box-sizing: border-box;
    @include textanimation;
}
.site4{
    width: 550px;
    display:inline-block;
    text-align: center;
    padding:0.3em 1em;
    border: $bordersize;
    margin:0.3em 0.3em;
    border-radius:0.12em;
    box-sizing: border-box;
    @include textanimation;
}
.site5 {
    width: 550px;
    display:inline-block;
    text-align: center;
    padding:0.3em 1em;
    border: $bordersize;
    margin:0.3em 0.3em;
    border-radius:0.12em;
    box-sizing: border-box; 
    margin-top: 2px;
    @include textanimation;
}

.openwrapper{
    opacity: 80%;
    display:grid;
    padding: 1em;
    justify-content: center;
    position: relative;
    z-index: 10;


}