@font-face {
  font-family: Futura;
  src: url("/fonts/futura sv/Futura Thin.ttf") format("truetype");
}
@keyframes TransitioningBackground {
  0% {
    background-position: 1% 0%;
  }
  50% {
    background-position: 99% 100%;
  }
  100% {
    background-position: 1% 0%;
  }
}
* {
  background-color: black;
  color: white;
  font-size: 4.5vh;
  font-family: Futura;
  text-decoration: none;
}

.wrapper {
  display: grid;
  opacity: 100%;
  width: auto;
  justify-content: center;
  gap: 5vh;
  padding-top: 6vh;
  position: relative;
  z-index: 10;
  text-align: center;
}

text {
  display: block;
  mix-blend-mode: overlay;
}

.site1 {
  width: 35vh;
  display: inline-block;
  text-align: center;
  padding: 0.3em 1em;
  border: 2px solid #FFFFFF;
  margin: 0.3em 0.3em;
  border-radius: 0.12em;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background-size: 200% 400%;
  animation: TransitioningBackground 10s ease infinite;
}
.site1::before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  filter: blur(30px);
  transform: translateX(-25vh) skewX(-15deg);
}
.site1::after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 20px;
  height: 100%;
  top: 0;
  filter: blur(5px);
  transform: translateX(-25vh) skewX(-15deg);
}
.site1:hover {
  cursor: pointer;
  opacity: 100%;
}
.site1:hover::before, .site1:hover::after {
  transform: translateX(45vh) skewX(-15deg);
  transition: 0.8s;
}

.site2 {
  width: 35vh;
  display: inline-block;
  text-align: center;
  padding: 0.3em 1em;
  border: 2px solid #FFFFFF;
  margin: 0.3em 0.3em;
  border-radius: 0.12em;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background-size: 200% 400%;
  animation: TransitioningBackground 10s ease infinite;
}
.site2::before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  filter: blur(30px);
  transform: translateX(-25vh) skewX(-15deg);
}
.site2::after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 20px;
  height: 100%;
  top: 0;
  filter: blur(5px);
  transform: translateX(-25vh) skewX(-15deg);
}
.site2:hover {
  cursor: pointer;
  opacity: 100%;
}
.site2:hover::before, .site2:hover::after {
  transform: translateX(45vh) skewX(-15deg);
  transition: 0.8s;
}

.site3 {
  width: 35vh;
  display: inline-block;
  text-align: center;
  padding: 0.3em 1em;
  border: 2px solid #FFFFFF;
  margin: 0.3em 0.3em;
  border-radius: 0.12em;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background-size: 200% 400%;
  animation: TransitioningBackground 10s ease infinite;
}
.site3::before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  filter: blur(30px);
  transform: translateX(-25vh) skewX(-15deg);
}
.site3::after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 20px;
  height: 100%;
  top: 0;
  filter: blur(5px);
  transform: translateX(-25vh) skewX(-15deg);
}
.site3:hover {
  cursor: pointer;
  opacity: 100%;
}
.site3:hover::before, .site3:hover::after {
  transform: translateX(45vh) skewX(-15deg);
  transition: 0.8s;
}

.site4 {
  width: 35vh;
  display: inline-block;
  text-align: center;
  padding: 0.3em 1em;
  border: 2px solid #FFFFFF;
  margin: 0.3em 0.3em;
  border-radius: 0.12em;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background-size: 200% 400%;
  animation: TransitioningBackground 10s ease infinite;
}
.site4::before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  filter: blur(30px);
  transform: translateX(-25vh) skewX(-15deg);
}
.site4::after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 20px;
  height: 100%;
  top: 0;
  filter: blur(5px);
  transform: translateX(-25vh) skewX(-15deg);
}
.site4:hover {
  cursor: pointer;
  opacity: 100%;
}
.site4:hover::before, .site4:hover::after {
  transform: translateX(45vh) skewX(-15deg);
  transition: 0.8s;
}

.site5 {
  width: 35vh;
  display: inline-block;
  text-align: center;
  padding: 0.3em 1em;
  border: 2px solid #FFFFFF;
  margin: 0.3em 0.3em;
  border-radius: 0.12em;
  box-sizing: border-box;
  margin-top: 2px;
  position: relative;
  overflow: hidden;
  background-size: 200% 400%;
  animation: TransitioningBackground 10s ease infinite;
}
.site5::before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  filter: blur(30px);
  transform: translateX(-25vh) skewX(-15deg);
}
.site5::after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 20px;
  height: 100%;
  top: 0;
  filter: blur(5px);
  transform: translateX(-25vh) skewX(-15deg);
}
.site5:hover {
  cursor: pointer;
  opacity: 100%;
}
.site5:hover::before, .site5:hover::after {
  transform: translateX(45vh) skewX(-15deg);
  transition: 0.8s;
}

.openwrapper {
  opacity: 80%;
  display: grid;
  padding: 6vh;
  pointer-events: none;
  cursor: default;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.openmedia img {
  height: 20vh;
}